

<div class="outer">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/home">Update</a>


                </ul>
                <form class="d-flex">

                    <button class="btn btn-outline-success" routerLink="/login">Signup or Login</button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            
            <div class="col-md-6">
                <div class="panel border bg-white">
                    <div class="panel border-heading">

                        <h3 class="pt-3 font-weight-bold text-primary text-center"> Login
                        </h3>
                    </div>

                    <div class="panel-body p-3">
                        <div class="row">
                            <div class="col-md-5">
                            <label class="form-control text-info"> First Name</label>
                            <label class="form-control text-info">Last Nmae</label>
                            <label class="form-control text-info">User Name</label>
                            <label class="form-control text-info">Gender</label>
                            <label class="form-control text-info">Contact</label>
                            <label class="form-control text-info">Password</label>
                        </div>
                        <div class="col-md-5">

                            <div class="form-group">
                            <input type="text" class="form-control text-success" placeholder="First name"[(ngModel)]="updateModelObj.firstName"> </div>

                            <div class="form-group">
                            <input type="text" class="form-control text-success" placeholder="Last name" [(ngModel)]="updateModelObj.lastName"> </div>

                            <div class="form-group">
                            <input type="text" class="form-control text-success" placeholder="User name" [(ngModel)]="updateModelObj.userName"> </div>

                            <div class="form-group">
                            <input type="text" class="form-control text-success" placeholder="Gender" [(ngModel)]="updateModelObj.gender"> </div>

                            <div class="form-group">
                            <input type="number" class="form-control text-success" placeholder="Contact"[(ngModel)]="updateModelObj.contactNumber"> </div>

                            <div class="form-group">
                            <input type="password" class="form-control text-success" placeholder="Password" [(ngModel)]="updateModelObj.password"> </div>
                            
                           
                                <button type="submit" class="btn btn-warning" >Update</button>
                           
                        </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
